<div class="center">
    <h3>Показания ваших счетчиков за {{ getCurrentMonth() }}</h3>
    <p>Показания принимаются до 20 числа включительно. До отправки показаний за {{ getCurrentMonth() }} осталось {{ getDaysToDeadline() }}
        дней.</p>
</div>
<div class="spacer"></div>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col center">
        <form action="#">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" pattern="{{ numericPattern }}" id="hotWater">
                <label class="mdl-textfield__label" for="hotWater">Горячая вода</label>
                <span class="mdl-textfield__error">Показания должны содержать только цифры!</span>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" pattern="{{ numericPattern }}" id="coldWater">
                <label class="mdl-textfield__label" for="coldWater">Холодная вода</label>
                <span class="mdl-textfield__error">Показания должны содержать только цифры!</span>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" pattern="{{ numericPattern }}" id="dayElectricity">
                <label class="mdl-textfield__label" for="dayElectricity">Электричество
                    (день)</label>
                <span class="mdl-textfield__error">Показания должны содержать только цифры!</span>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" pattern="{{ numericPattern }}" id="nightElectricity">
                <label class="mdl-textfield__label" for="nightElectricity">Электричество
                    (ночь)</label>
                <span class="mdl-textfield__error">Показания должны содержать только цифры!</span>
            </div>
        </form>
    </div>
</div>
