<div class="spacer"></div>
<div class="spacer"></div>

<div class="center">
    <div>
        <h2>Регистрация</h2>
        <form name="form" (ngSubmit)="submitForm(form.value)" #form="ngForm" novalidate>
            <div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input id="username" type="text" class="mdl-textfield__input" name="username" [(ngModel)]="model.username">
                    <label class="mdl-textfield__label" for="username">Фамилия, имя и отчество</label>
                    <div *ngIf="!model.username && submitted" class="sub-error">ФИО не может быть пустым!</div>
                </div>
            </div>
            <div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input id="flatNumber" type="text" class="mdl-textfield__input" name="flatNumber" [(ngModel)]="model.flatNumber">
                    <label class="mdl-textfield__label" for="flatNumber">Номер квартиры</label>
                    <div *ngIf="!model.flatNumber && submitted" class="sub-error">Номер квартиры не может быть пустым!</div>
                </div>
            </div>
            <div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input id="email" type="text" class="mdl-textfield__input" name="email" [(ngModel)]="model.email">
                    <label class="mdl-textfield__label" for="email">Email</label>
                    <div *ngIf="!model.email && submitted" class="sub-error">Email не может быть пустым!</div>
                    <div *ngIf="model.email && !emailIsValid()" class="sub-error">Email неверный</div>
                </div>
            </div>
            <div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input id="password" type="text" class="mdl-textfield__input" name="password" [(ngModel)]="model.password">
                    <label class="mdl-textfield__label" for="password">Пароль</label>
                    <div *ngIf="!model.password && submitted" class="sub-error">Пароль не может быть пустым!</div>
                </div>
            </div>

            <div class="submit-box">
                <button type="button" [routerLink]="['/login']"
                        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                    Назад
                </button>
                <button type="submit" [disabled]="loading"
                        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect colored-button">
                    Зарегистрироваться
                </button>

                <span *ngIf="nonUniqueEmailOrFlatNumber" class="center sub-error-center">
                    Данный email или номер квартиры уже зарегистрирован!
                </span>
            </div>
        </form>
    </div>
</div>

<div class="spacer"></div>
