<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span routerLink="/" class="pointer mdl-layout-title">Электронная Карточка</span>
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-layout__header-row mdl-layout--large-screen-only"><h5>Квартира №{{ flatNumber }}</h5></div>
            <div class="mdl-layout__header-row mdl-layout--large-screen-only"><h4>{{ ownerName }}</h4></div>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Разделы</span>
        <nav (click)="closeMenu()" class="mdl-navigation">
            <a routerLink="/card" class="mdl-navigation__link">Отправить показания</a>
            <a routerLink="/history" class="mdl-navigation__link">История показаний</a>
            <a routerLink="/help" class="mdl-navigation__link">Помощь</a>
        </nav>
    </div>

    <main class="mdl-layout__content">
        <div class="page-content">
            <router-outlet></router-outlet>
        </div>
    </main>

    <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__right-section mdl-layout--large-screen-only">
            <ul class="mdl-mini-footer__link-list">
                <li><a routerLink="/card">Текущий месяц</a></li>
                <li><a routerLink="/history">История показателей счетчика</a></li>
                <li><a routerLink="/help">Справочный раздел</a></li>
                <li>
                    <div class="mdl-logo">Электронная Карточка, 2017</div>
                </li>
            </ul>
        </div>
        <div class="mdl-mini-footer__right-section mdl-layout--small-screen-only">
            <div class="mdl-logo no-margin">Электронная Карточка, 2017</div>
        </div>
    </footer>
</div>
