<h3 class="center">История отправленных показаний счетчиков</h3>

<table class="history mdl-data-table mdl-js-data-table full-width">
    <thead>
    <tr>
        <th></th>
        <th class="big-screen">Горячая вода</th>
        <th class="big-screen">Холодная вода</th>
        <th class="big-screen">Электричество день</th>
        <th class="big-screen">Электричество ночь</th>

        <th class="small-screen">Гор.вода</th>
        <th class="small-screen">Хол.вода</th>
        <th class="small-screen">Электр.день</th>
        <th class="small-screen">Электр.ночь</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">июнь</td>
        <td>12345</td>
        <td>12345</td>
        <td>12345</td>
        <td>12345</td>
    </tr>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">май</td>
        <td>12345</td>
        <td>12345</td>
        <td>12345</td>
        <td>12345</td>
    </tr>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">апрель</td>
        <td>12345</td>
        <td>12345</td>
        <td>12345</td>
        <td>12345</td>
    </tr>
    </tbody>
</table>
