<h3 class="center">История отправленных показаний счетчиков</h3>

<table class="history mdl-data-table mdl-js-data-table full-width">
    <thead>
    <tr>
        <th></th>
        <th class="mdl-data-table__cell--non-numeric">Горячая вода</th>
        <th>Холодная вода</th>
        <th>Электр.день</th>
        <th>Электр.ночь</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">июнь</td>
        <td>12345</td>
        <td>12345</td>
        <td>12345</td>
        <td>12345</td>
    </tr>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">май</td>
        <td>12345</td>
        <td>12345</td>
        <td>12345</td>
        <td>12345</td>
    </tr>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">апрель</td>
        <td>12345</td>
        <td>12345</td>
        <td>12345</td>
        <td>12345</td>
    </tr>
    </tbody>
</table>
