<h3 class="center">История отправленных показателей счетчика</h3>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col mdl-layout--large-screen-only"></div>
    <div class="mdl-cell mdl-cell--10-col">
        <table class="history mdl-data-table mdl-js-data-table full-width">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Тип ресурса</th>
                    <th class="mdl-layout--large-screen-only">декабрь</th>
                    <th class="mdl-layout--large-screen-only">январь</th>
                    <th>февраль</th>
                    <th>март</th>
                    <th>апрель</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">Горячая вода</td>
                    <td class="mdl-layout--large-screen-only">12345</td>
                    <td class="mdl-layout--large-screen-only">12345</td>
                    <td>12345</td>
                    <td>12345</td>
                    <td>12345</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">Холодная вода</td>
                    <td class="mdl-layout--large-screen-only">12345</td>
                    <td class="mdl-layout--large-screen-only">12345</td>
                    <td>12345</td>
                    <td>12345</td>
                    <td>12345</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">Электричество</td>
                    <td class="mdl-layout--large-screen-only">12345</td>
                    <td class="mdl-layout--large-screen-only">12345</td>
                    <td>12345</td>
                    <td>12345</td>
                    <td>12345</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
