h4, h5 {
    margin: 0;
}

h4 {
    font-weight: 800;
}

p {
    font-size: 18px;
}

.full-width {
    width: 100%;
}

.pointer {
    cursor: pointer;
}

.no-margin {
    margin: 0;
}

.center {
    text-align: center;
}

.hidden {
    display: none;
}

.colored-button {
    background-color: rgba(97, 189, 54, 0.54);
}

.mdl-data-table,
.mdl-data-table th {
    font-size: 16px;
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label, .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
    color: #32681d;
}

.mdl-textfield__label:after {
    background-color: #32681d;
}

/* Color of text in inactive input placeholder */
.mdl-textfield__label {
    color: #999999;
}

.mdl-textfield__error {
    cursor: default;
}

.mdl-layout__header span:focus,
.mdl-layout__header div:focus {
    outline: none;
}

.spacer {
    display: block;
    height: 30px;
}

.sub-error {
    color: #d50000;
    position: absolute;
    font-size: 12px;
    margin-top: 3px;
    display: block;
    cursor: default;
}

.sub-error-center {
    color: #d50000;
    font-size: 16px;
    margin-top: 3px;
    display: block;
    cursor: default;
}

footer a:hover {
    color: #c4c4c4;
}
