.full-width {
    width: 100%;
}

h4, h5 {
    margin: 0;
}

h4 {
    font-weight: 800;
}

p {
    font-size: 18px;
}

.pointer {
    cursor: pointer;
}

.no-margin {
    margin: 0;
}

.center {
    text-align: center;
}
